
@{
    ViewData["Title"] = "ERROR404";
}

<div class="main">
    <div class="main__error">
        <div class="main__error__txt">
            <h1>ERROR 404 </h1>
        </div>
        <div class="main__error_img">
            <img src="~/pictures/robot.jpg" alt="">
        </div>
    </div>
    <footer class="main_connect">
        <div class="main_connect_h2">

            <h2>
                Связатся с администрацией сайта:
            </h2>
        </div>

        <div class="main_connect_socialnet">

            <div class="main_connect_socialnet_all">

                <p>Instagram: <a target="new" href="https://www.instagram.com/illya_melnik/">2bigballs</a></p>
            </div>
            <div class="main_connect_socialnet_all">
                <p>Facebook: <a target="new" href="https://www.instagram.com/illya_melnik/">Melnik Illia</a></p>
            </div>
            <div class="main_connect_socialnet_all">
                <p>Vkontakte: <a target="new" href="https://vk.com/id164627677">Мельник Ілюха</a></p>
            </div>
            <div class="main_connect_socialnet_all">

                <p>Пошта: illya.melnik.2030gmail.com</p>
            </div>


        </div>

    </footer>
</div>

