@model lotforussr.Models.User
@{
    ViewData["Title"] = "View";
}

<form asp-action="Regist" asp-controller="home">
    <div class="form-group">
        <label asp-for="UserName" class="control-label">UserName</label>
        <input type="text" asp-for="UserName" value="" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Password" class="control-label">Password</label>
        <input type="text" asp-for="Password" value="" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Email" class="control-label">Email</label>
        <input type="text" asp-for="Email" value="" class="form-control" />
    </div>
    <div class="form-group">
        <input type="submit" value="Отправить" class="btn btn-default" />
    </div>
</form>
